.text {
  letter-spacing: 1px;
}

.size-small { font-size: 14px; }
.size-medium { font-size: 18px; }
.size-large { font-size: 22px; }

.color-black { color: black; }
.color-blue { color: lightskyblue; }
.color-gray { color: lightslategray; }
.color-green { color: lightgreen; }

.weight-normal { font-weight: normal; }
.weight-bold { font-weight: bold; }

.align-left { align-self: flex-start; }

@media (max-width: 430px) {
  .text {
    text-align: center;
  }
}
