.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 430px) {
  .nav {
    flex-direction: column;
    gap: 20px;
  }

  .item {
    width: 100%;
  }
}
