.dropdown {
  width: 100%;
  position: relative;
}

.label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: gray;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.select {
  width: 100%;
  padding: 15px 30px;
  border: 2px solid lightslategray;
  font-size: 18px;
  cursor: pointer;
  appearance: none;
  background-color: white;
}

.icon {
  position: absolute;
  right: 5%;
  top: 75%;
  transform: translateY(-75%);
  pointer-events: none;
  z-index: 1;
}

.select:focus {
  border-color: lightgreen;
}
