.card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.thumbnail {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 14px;
  color: gray;
  margin: 0;
  flex-grow: 1;
}

.author {
  font-size: 12px;
  color: #888;
}

.age {
  font-size: 12px;
  color: #888;
}

.title, .description {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .thumbnail {
    width: 100%;
    height: 200px;
  }

  .content {
    order: 2;
  }
}
