.card {
  display: flex;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card.small {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.card.medium {
  width: 500px;
  height: 500px;
  cursor: pointer;
}

.card.large {
  width: 750px;
  height: 750px;
  cursor: pointer;
}

.card.padding {
  padding: 5px 10px;
}

.card.dark {
  background-color: black;
}

.card.selected {
  border: 5px solid lightgreen;

}

.thumbnail {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.content {
  padding: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 14px;
  color: gray;
  max-width: 100%;
  overflow: hidden;
}

.author {
  font-size: 12px;
  color: #888;
}

.age {
  font-size: 12px;
  color: #888;
}

.title, .description {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .thumbnail {
    max-width: 100%;
    max-height: 100%;
  }
}
