*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:is(html, body) {
  font-family: "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:is(img, picture, video, canvas, svg, iframe) {
  display: block;
  max-width: 100%;
}

:is(input, button, textarea, select) {
  font-family: inherit;
}

:is(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:is(li) {
  list-style: none;
}

:is(a) {
  text-decoration: none;
}

:is(a, button, input, textarea, select) {
  outline: none;
  color: initial;
  
  &:focus {
    outline: 1px solid lightgreen;
  }
}
