.columns {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
}

.size-25 { flex: 1; }
.size-75 { flex: 4; }

@media (max-width: 960px) {
  .size-25, .size-75 {
    flex: 1;
  }
}
