.columns {
  display: flex;
  gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
}

.size-25 {
  flex: 1;
}

.size-75 {
  flex: 3;
}

@media (max-width: 1096px) {
  .column {
    flex-direction: column;
  }
}
